$btnColor: #6fcf97;
$borderInputColor: #ccc;
$white: #ffffff;
$lineColor: #a7a7a7;



@mixin inputStyle{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid $borderInputColor;
  box-sizing: border-box;
}

@mixin onAllPage($clr) {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $clr;
}

@mixin btnStyle {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid $borderInputColor;
  box-sizing: border-box;
}