@import "commons";

$imageCategorySize: 50px;

.category_list {
  background: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;

  .category_item {
    margin: 10px 1.5vw;
    display: flex;
    flex-direction: column;

    img {
      height: $imageCategorySize;
      width: $imageCategorySize;
    }

    span {
      display: flex;
      justify-content: center;
      margin: 5px 0;
      color: #383838;
    }
  }
}

main.main-page {
  @include onAllPage(#f2f2f2);
  justify-content: flex-start;
  align-items: flex-start;

  .coupon_list {
    display: flex;
    flex-wrap: wrap;
    margin: 3vh 2vw;

    .coupon_card {
      margin: 2vh 2vw;
      width: 260px;
      background: $white;

      .image_part {
        img {
          width: 100%;
          height: 250px;
        }
      }


      .description_part {
        margin: 10px;
        display: grid;
        grid-template-columns: 60% 40%;
        row-gap: 10px;


        .coupon_name {
          font-size: large;
        }

        .brief_description {
          font-size: smaller;
        }

        .expires_in {
          display: flex;
          justify-content: flex-end;
          font-size: smaller;
          color: #999999;

        }

        .icon {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          i {
            margin-right: 10px;
            color: $darkGrey;
          }
        }

      }

      .tag_display {
        display: flex;
        flex-wrap: wrap;

        span.tag_holder {
          margin: 0 5px;
        }

      }


      .line {
        border-top: 1px solid #f5f5f5;
      }

      .price_part {
        align-self: flex-end;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        .price {
          font-size: large;
        }

        .add_to_card {
          button {
            padding: 5px 15px;
            display: inline-block;
            border: 1px solid #bdbdbd;
            background: transparent;
            box-sizing: border-box;
          }
        }
      }

    }
  }
}

.chip__array {
  input {
    width: 100%;
  }
}